.side_nav_filters{
	top:12px;
}

#table-container{
	overflow: auto;
	max-height: 300px;
	width: 100%;
	position: relative;
	display: block;
}

.my-table{
	width: 600px;
}

#table-container-parent{
	position: relative;
	clear: both;
}